[user]
	name = Sebastian Kirejewski
	email = sebastian.kirejewski@casamundo.de
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	he = help
	cl = clone
	one = log --oneline
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lolv = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	sup = submodule update --recursive --remote
    resetorigin = !git fetch origin && git reset --hard origin/master && git clean -f -d
    resetupstream = !git fetch upstream && git reset --hard upstream/master && git clean -f -d
    conflict = diff --name-only --diff-filter=U    
    pu = push -u origin master

[color]
	ui = auto
